/* Layout */
body {
	text-rendering: optimizeLegibility;
	background-color: #fffbf2;
	font-family: system-ui, sans-serif;
	margin: 0;
}
main, footer, header {
	margin: auto;
	max-width: 45rem;
}
header, footer {
	background-color: #003d2c;
	color: white;
	padding: 0.5rem;
}
header nav a,
footer nav a {
	color: white;
	text-decoration: none;
}
header nav a:hover,
footer nav a:hover {
	text-decoration: underline;
}
main .front, main aside {
	border-style: double;
	border-color: #003d2c;
	padding: 0.5rem;
	background: #f0f0f0;
	margin: 0rem -0.5rem 0 -0.5rem;
}

main .front {
	border-width: 0px 3px 3px 3px;
}

main aside {
	border-width: 3px 3px 0px 3px;
}
main article {
	line-height: 1.4rem;
}

/* Code */
pre, code {
	word-wrap: break-word;
	white-space: pre-wrap;
}
pre {
	padding: 0.5rem;
	border: 1px solid lightgray;
	background: whitesmoke;
}

/* Page Elements */
.footnotes {
	border-top: 1px solid;
	margin: 1.5rem 0;
	padding-top: 1rem;	 
}
.footnotes::before {
	content: "References:";
	font-weight: bold;
}
.footnotes p {
	margin: initial;
}
:target {
	background: yellow;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
td, th {
	padding-right: 1.5rem;
	vertical-align: top;
}
td:last-of-type, th:last-of-type {
	padding-right: 0;
}

/* Forms */
input, button, textarea, select, optgroup, option {
	font-size: small;
}
