/* Layout */
html {
    scroll-behavior: smooth;
}
body {
    text-rendering: optimizeLegibility;
	font-family: sans-serif;
	line-height: 1.4;
    margin: 0;
}
main, footer, header {
	max-width: 40rem;
	padding: 1rem;
	margin: auto;
}

/* Grid */
.grid {
    display: flex;
    margin: -1em 0 0 -1em;
}
.col {
    flex: 1;
    padding: 1em 0 0 1em;
}
@media (max-width: 40em) {
  .grid {
        display: block;
  }
}


/* Navigation */
nav.main a, nav.main a:visited, nav.main span {
    margin: 0 0.25rem;
    color: inherit;
    font-weight: bold;
    text-transform: lowercase;
}
nav.main a:hover, nav.main span:hover {
    background: gold;
}


/* Footer */
footer {
    background: whitesmoke;
    margin-top: 3em;
}
footer a, footer a:visited {
	color: inherit;
    text-decoration: underline;
    text-transform: lowercase;
}
a[href~="#"], a[href~="#"]:visited {
    color: blue;
}
.to-top a[href~="#"]::before {
    content: "\25B4  ";
}


/* Text */
h1 {
    margin: 0.5rem auto 0;
    font-size: 1.6rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.05rem;
}


/* Code */
pre, code {
	font-family: Courier, monospace;
	background: whitesmoke;
	font-size: 0.95rem;
	padding: 1em;
	overflow: auto;
}
code {
    padding: 0px 2px;
}


/* Page Elements */
.meta {
    font-size: 0.9rem;
    color: dimgray;
}
.meta a, .meta a:visited {
    text-decoration: underline;
    color: inherit;
}
.toc {
    background: whitesmoke;
    display: table;
    padding: 1em;
}
.toc ul {
	margin-bottom: 0;
}
.footnotes {
    border-top: 2px solid slategray;
    font-size: 0.95rem;
    color: dimgray;
    margin-top: 5em;
    padding-top: 1em;   
}
.footnotes::before {
    content: "References";
    font-weight: bold;
}
.footnotes p {
    margin: initial;
}
summary:hover {
    cursor: pointer;
}
:target {
    background: yellow;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 0.95rem;
}
thead {
    background: beige;
}
td, th {
    border: 1px solid gainsboro;
    padding: 0.25rem 0.5rem;
}
hr {
	color: gainsboro;
    background: gainsboro;
    border: 0;
    height: 2px;
    margin: 1.5em 0em;
}


/* Forms */
input, button, textarea, select, optgroup, option {
    font-size: 1rem;
}


/* Links */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a[target="_blank"]::after {
  	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  	margin: 0 3px 0 5px;
}
a.footnote {
    text-decoration: underline;
}


/* Lists */
ul, ol {
	margin-top: 0;
}
ul.none {
    margin: 0;
    list-style: none;
    padding: 0;
	margin-bottom: 1rem;
}


/* Logo */
#logo {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}
#logo:before {
  display: block;
  background: seagreen;
  content: "λ";
  line-height: 1.5rem;
  font-size: 1.5rem;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-left: 0.15rem solid gold;
  border-right: 0.15rem solid gold;
}

