---
layout: default
title: Articles
description: Collection of all articles written by Max Kossek.
sitemap:
    lastmod: 2020-03-09
---

<header>
<h1>{{ page.title }}</h1>
</header>
<main>

<div>View by: <strong>Year</strong> | <a href="/categories">Categories</a> | <a href="/tags">Tags</a></div>

<p>
<ul>
{% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<li><a class="year" href="#{{ year.name | slugify }}">{{ year.name }}</a> <span class="meta">({{ year.size }})</span>
</li>
{% endfor %}
</ul>
</p>

<hr>

{% for year in postsByYear %}
<h3 id="{{ year.name | slugify }}">{{ year.name }} <span class="meta">({{ year.size }})</span></h3>
<ul>
{% for post in year.items %}
<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> | <span class="meta"><time class="date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></span></li>
{% endfor %}
</ul>
{% endfor %}

</main>
