/* Normal */
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	box-sizing: border-box;
}


/* Layout */
body {
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

main, footer, header {
	max-width: 38rem;
	padding: 1rem;
	margin: auto;
}

footer {
	background: #f1f1f1;
}


/* Text */
body,
button,
input,
select,
optgroup,
textarea {
	font-family: sans-serif;
   	font-size: 1rem;
   	line-height: 1.25em;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

pre {
	background: #eee;
	font-family: Courier, monospace;
	font-size: 0.95rem;
	line-height: 1.5;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
}

code, kbd, tt, var {
	font-family: Courier, monospace;
	font-size: 0.95rem;
	background: #eee;
    padding: 0px 3px;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border-spacing: 0px;
	border: 1px solid #eee;
}

td, th {
	border: 1px solid #eee;
	padding: 0.25em;
	font-size: 0.9em;
}

th {
	background: #ddd;
}

/* Links */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}