/* Layout */
body {
	-webkit-font-smoothing: antialiased;
}

main, footer, header, nav {
	max-width: 70ch;
	padding: 1.5ch;
	margin: auto;
}

nav {
	padding: 0 1.5ch 0.5ch;
    	border-bottom: 2px solid slategray;
}
nav a, nav span {
    	margin-right: 1.5rem;
	font-size: 1.1rem;
	color: inherit;
}
nav a[href~="/"]::before {
	content: "\00AB  ";
}

footer {
	margin-top: 3rem;
}
footer a {
	color: blue;
}
footer a[href~="#"]::before {
    	content: "\25B4  ";
}

/* Text */
header h1 {
	margin-bottom: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.3;
    	color: #333;
}

pre, code {
	font-family: Courier, monospace;
	background: gainsboro;
	font-size: 0.95rem;
	padding: 1em;
	overflow: auto;
}

code {
    	padding: 0px 2px;
}

.citations {
	border-top: 2px solid slategray;
    	font-size: 0.9rem;
	color: dimgray;
    	margin-top: 5em;
    	padding-top: 1em;	
}

table {
	border-spacing: 0px;
	border: 1px solid gainsboro; 
}

td, th {
	border: 1px solid gainsboro;
	padding: 0.25em;
}

/* Links */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[target="_blank"]::after {
  	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  	margin: 0 3px 0 5px;
}

/* Lists */
ul, ol {
	margin-top: 0;
}

ul.none {
    	margin: 0;
    	list-style: none;
    	padding: 0;
	margin-bottom: 1rem;
}

