---
layout: default
title: Tags
description: Collection of all the tags on the site.
sitemap:
    lastmod: 2025-08-05
---

<div>View by: <a href="/articles">Year</a> | <a href="/categories">Categories</a> | <strong>Tags</strong></div>

<p>
{% for tag in site.tags %}
<a class="tag" href="#{{ tag[0] | slugify }}">#{{ tag[0] }}</a> <span class="meta">({{ tag[1].size }}){% if forloop.last %}{% else %} {% endif %}
{% endfor %}
</p>

<hr>

{% for tag in site.tags %}
<h3 id="{{ tag[0] | slugify }}">{{ tag | first }} <span class="meta">({{ tag[1].size }})</span></h3>
<ul style="list-style-type:none; padding: 0;">
{% for post in tag.last %}
<li><span class="meta"><time class="date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></span> | <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
