---
layout: default
title: Tags
description: Collection of all tags on Max Kossek.
sitemap:
    lastmod: 2019-10-22
---
<header>
<h1>{{ page.title }}</h1>
</header>

<main>

<div>View by: <a href="/articles">Year</a> | <a href="/categories">Categories</a> | <strong>Tags</strong></div>

<p>
<ul>
{% for tag in site.tags %}
<li><a class="tag" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a> <span class="meta">({{ tag[1].size }})</span></li>
{% endfor %}
</ul>
</p>

<hr>

{% for tag in site.tags %}
<h3 id="{{ tag[0] | slugify }}"># {{ tag | first }} <span class="meta">({{ tag[1].size }})</span></h3>
<ul>
{% for post in tag.last %}
<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> | <span class="meta"><time class="date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></span></li>
{% endfor %}
</ul>
{% endfor %}

</main>
