<footer>
<nav><p><a href="/" title="Home Page">Home</a> | <a href="/about" title="About Max Kossek">About</a> | <a href="/articles" title="Archive of all articles">Articles</a> | External Links: <a rel="noopener" target="_blank" href="https://github.com/maxkossek">GitHub</a> | <a rel="noopener" target="_blank" href="https://x.com/maxkossek">X</a> | <a rel="noopener" target="_blank" href="https://bsky.app/profile/maxkossek.bsky.social">Bluesky</a></p></nav>
<form action="https://duckduckgo.com" method="get" name="Search Form" target="_blank">
<input name="sites" type="hidden" value="kossek.org">
<input autocomplete="on" name="q" placeholder="" required="required"  type="text">
<button class="button" type="submit">Search</button>
</form>
</footer>
