<footer>
<nav><p>
<a href="/" title="Home Page">Home</a> | <a href="/about" title="About Max Kossek">About Max Kossek</a> | <a href="/articles" title="Archive of all articles">Articles</a> | External Links: <a rel="noopener" target="_blank" href="https://github.com/maxkossek">github/maxkossek</a>
</p></nav>
External Links: <a rel="noopener" target="_blank" href="https://github.com/maxkossek">github/maxkossek</a>
<form action="https://www.google.com/search" method="get" name="Search Form" target="_blank">
<input name="sitesearch" type="hidden" value="maxkossek.github.io">
<input autocomplete="on" name="q" placeholder="" required="required"  type="text">
<button class="button" type="submit">Search</button>
</form>
</footer>
