<footer>
<nav><a href="/" title="Home Page" class="{% if page.url == '/' %}active{% endif %}">Home</a> | <a href="/about" title="About Max Kossek" class="{% if page.url == '/about' %}active{% endif %}">About</a> | <a href="/articles" title="Archive of all articles" class="{% if page.url == '/articles' %}active{% endif %}">Articles</a> | External Links: <a rel="noopener" target="_blank" href="https://github.com/maxkossek">GitHub</a> | <a rel="noopener" target="_blank" href="https://x.com/maxkossek">X</a> | <a rel="noopener" target="_blank" href="https://bsky.app/profile/maxkossek.bsky.social">Bluesky</a></nav>
<form style="margin-top: 0.5rem" action="https://duckduckgo.com" method="get" name="Search Form" target="_blank">
<input name="sites" type="hidden" value="kossek.org">
<input autocomplete="on" name="q" placeholder="" required="required"  type="text">
<button class="button" type="submit">Search</button>
</form>
</footer>
