<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139237428-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139237428-1');
</script>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="data:,">
</head>
<body>
<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/articles">Articles</a>
</ul>
</nav>

{{ content }}

<footer>
<a href="/search">Search</a><br>
Github: <a target="_blank" href="https://github.com/maxkossek">github/maxkossek</a><br>
RYM: <a target="_blank" href="https://rateyourmusic.com/~maxkossek">rateyourmusic/maxkossek</a><br>
</footer>
</body>
</html>
