---
layout: default
---
<header>
<h1>{{ page.title }}</h1>
<span class="meta">
<time class="date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time> 
{%- if page.author -%}
&nbsp;| <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author | escape }}</span>
{%- endif -%}
{% if page.categories.size > 0 %}
 | Category: <span class="category">
{% for category in page.categories %}
<a href="{{site.baseurl}}/categories#{{ category | slugify }}">{{category}}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</span>
{% endif %}
{% if page.tags.size > 0 %}
 - Tags: <span class="tag">
{% for tag in page.tags %}
<a href="{{site.baseurl}}/tags#{{ tag | slugify }}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</span>
{% endif %}
</span>
</header>

<main role="main">

{{ content }}

<aside class="related" style="margin-top: 3rem">

<p>
{% if page.categories.size > 0 %}
<span class="category">Category: 
{% for category in page.categories %}
<a href="{{site.baseurl}}/categories#{{ category | slugify }}">{{category}}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</span>
{% endif %}
{% if page.tags.size > 0 %}
 - <span class="tag">Tags:  
{% for tag in page.tags %}
<a href="{{site.baseurl}}/tags#{{ tag | slugify }}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</span>
{% endif %}
</p>

<strong>Recent:</strong>
<ul>
{% for post in site.related_posts limit:5 %}
<li><a href="{{ post.url }}">{{ post.title }}</a> | <span class="meta"><time class="date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></span></li>
{% endfor %}
</ul>
<p><a title="Scroll back to the top of the page" href="#">^ back to top</a></p>
</aside>

</main>
