---
layout: default
---
<header>
<h1>{{ page.title }}</h1>
<span class="meta">
<time class="date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time> 
{%- if page.author -%}
&nbsp;| <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author | escape }}</span>
{%- endif -%}
{% if page.categories.size > 0 %}
 | <strong class="category">
{% for category in page.categories %}
<a href="{{site.baseurl}}/categories#{{ category | slugify }}">{{category | capitalize}}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</strong>
{% endif %}
{% if page.tags.size > 0 %}
 - <span class="tag">tags:</span> 
{% for tag in page.tags %}
<a href="{{site.baseurl}}/tags#{{ tag | slugify }}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
{% endif %}
</span>
</header>

<main>
  {{ content }}

  <p class="to-top"><a href="#">back to top</a></p>
</main>