---
layout: default
title: Articles
description: Collection of all articles written by Max Kossek.
---

<header>
<h1>{{ page.title }}</h1>
</header>
<main>

<p>By <strong>Year</strong>, view by <a href="/categories">Categories</a> or <a href="/tags">Tags</a></p>

{% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <strong>{{ year.name }}</strong>
    <ul class="none">
      {% for post in year.items %}
        <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> - <time>{{ post.date | date: "%d/%m" }}</time></li>
      {% endfor %}
    </ul>
{% endfor %}

</main>